<div id="aonyx">
  <div class="section-header">
    <h3>
      <span class="icon-double-angle-right "></span>
      aonyx
    </h3>
  </div>
  <div class="col-md-9">
    <p>
      aonyx is a very simple, very small dependency manager/injector for node. It does NOT provide require-like 
      functionality, instead it is designed to give developers a means of injecting "services" into functions based 
      on their parameter names. This system was inspired by, and modeled after, the dependency injection system 
      provided by AngularJS.
    </p>
    <p></p>
    <p class="text-muted">
      <small>
        <strong>Current:</strong> 0.2.0 (beta)
      </small>
    </p>
  </div>
  <div class="col-md-3">
    <a href="#" class="btn btn-sm btn-info btn-block">
      <span class="icon-home"></span>
      <span>Homepage</span>
    </a>
    <a href="#" class="btn btn-sm btn-primary btn-block">
      <span class="icon-github"></span>
      <span>Github</span>
    </a>
    <a href="#" class="btn btn-sm btn-warning btn-block">
      <span class="icon-bug"></span>
      <span>Issues</span>
    </a>
  </div>
</div>