<div id="javelin">
  <div class="section-header">
    <h3>
      <span class="icon-double-angle-right"></span>
      javelin
    </h3>
  </div>
  <div class="col-md-3">
    <a href="#" class="btn btn-sm btn-info btn-block disabled">
      <span class="icon-home"></span>
      <span>Homepage</span>
    </a>
    <a href="https://github.com/jaylach/javelin" class="btn btn-sm btn-primary btn-block">
      <span class="icon-github"></span>
      <span>Github</span>
    </a>
    <a href="https://github.com/jaylach/javelin/issues" class="btn btn-sm btn-warning btn-block">
      <span class="icon-bug"></span>
      <span>Issues</span>
    </a>
  </div>
  <div class="col-md-9">
    <p>
      Javelin is a view templating engine for your node.js based RESTful APIs. It allows you to treat the data of your 
      API as you would any other view. The gain here is that you can separate your view logic from your controllers and 
      models. javelin can compile to JSON and XML natively but other builders can be plugged in to allow compiling to any 
      other format. The syntax of javelin is inspired by the Ruby gem known as rabl.
    </p>
    <p></p>
    <p class="text-muted">
      <small>
        <strong>Current:</strong> 0.1.0 (alpha)
      </small>
    </p>
  </div>
</div>