<div>
  <div class="section-header">
    <h3>
      <span class="icon-double-angle-right "></span>
      tenrec
    </h3>
  </div>
  <div class="col-md-9">
    <p>
      Tenrec is a simple, yet sophisticated, framework for building RESTful APIs on top of node.js. It's being built
      from the ground up to be as lean as possible without relying on any other server modules, including express or connect.
      The design is heavily inspired by AngularJS, including having its own dependency injection system.
    </p>
    <p></p>
    <p class="text-muted">
      <small>
        <strong>Current:</strong> 0.1.0 (alpha)
      </small>
    </p>
  </div>
  <div class="col-md-3">
    <a href="#" class="btn btn-sm btn-info btn-block">
      <span class="icon-home"></span>
      <span>Homepage</span>
    </a>
    <a href="#" class="btn btn-sm btn-primary btn-block">
      <span class="icon-github"></span>
      <span>Github</span>
    </a>
    <a href="#" class="btn btn-sm btn-warning btn-block">
      <span class="icon-bug"></span>
      <span>Issues</span>
    </a>
  </div>
</div>